<h1>
  <%="Tweets"%>
</h1>


<%@tweets.each_with_index do |tweet,i|%>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <%="Tweet: #{i} date: #{tweet[:date]}"%>
      </div>
      <div class="card-body">
        <p class="card-text"><%=raw tweet[:text]%></p>
      </div>
    </div>
  </div>
  <br>
<%end%>
